.cart-link{
    text-decoration: none;
}

.cart-button{
    align-self: center;
    color: #e88bad;
    text-decoration: none;
}

.items-in-cart{
    color: #ffffff;
    font-size: 0.8em;
    background-color: #e280a3;
    border-radius: 100px;
    padding: 2px 6px;
}
