.ItemListContainer{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    width:auto;
}

.ItemListContainer h2{
    color: #887279;
}