.navbar{
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;

    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color:#e280a3;
    text-decoration: none;
    
}

.nav-menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #e280a3;
    font-weight: 400;
    /*transition: 300ms ease-in;*/
}

.nav-link:hover{
    color:#d17595;
}

.link-menu{
    text-decoration: none;
    color: #e280a3;
}