*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #f9f1f6;
}

.App {
  text-align: center;
}

.header{
  background-color: #efdee9;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}